

.header ul{
    @include inline-list();
    li{
        background-color:black;
        a{
            color:white;
            padding: 1em;

        }
    }
}
.footer ul{
    @include inline-list();
    li{
        padding: 0.4em;
        background-color: salmon;
        a{
            color:white;
        }
    }
}

//arguments pada mixin
@mixin flex-box($direction,$space){
    display: flex;
    justify-content: $space;
    align-items: center;
    flex-direction: $direction;
}
.container{
    @include flex-box(row-reverse,space-around);
    width: 600px;
    height:400px;
    background-color:silver;
    
    .box{
        width:60px;
        height:60px;
        background-color: tan;
        text-align: center;
        line-height: 60px;
    }
}